<a href="https://colab.research.google.com/github/mudesir/DS/blob/master/unit4_buildweek.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
#load and read the file
from google.colab import files
uploaded = files.upload()

Saving airbnb1.csv to airbnb1.csv

In [ ]:
df = pd.read_csv('airbnb1.csv')

In [ ]:
df.head()

         ID  ...                                           Features
0   2967277  ...  Host Has Profile Pic,Host Identity Verified,Is...
1  14864489  ...  Host Has Profile Pic,Is Location Exact,Instant...
2  14881515  ...  Host Has Profile Pic,Is Location Exact,Instant...
3   1335608  ...             Host Has Profile Pic,Is Location Exact
4  12923927  ...  Host Has Profile Pic,Host Identity Verified,Is...

[5 rows x 89 columns]

In [ ]:
df.columns

Index(['ID', 'Listing Url', 'Scrape ID', 'Last Scraped', 'Name', 'Summary',
       'Space', 'Description', 'Experiences Offered', 'Neighborhood Overview',
       'Notes', 'Transit', 'Access', 'Interaction', 'House Rules',
       'Thumbnail Url', 'Medium Url', 'Picture Url', 'XL Picture Url',
       'Host ID', 'Host URL', 'Host Name', 'Host Since', 'Host Location',
       'Host About', 'Host Response Time', 'Host Response Rate',
       'Host Acceptance Rate', 'Host Thumbnail Url', 'Host Picture Url',
       'Host Neighbourhood', 'Host Listings Count',
       'Host Total Listings Count', 'Host Verifications', 'Street',
       'Neighbourhood', 'Neighbourhood Cleansed',
       'Neighbourhood Group Cleansed', 'City', 'State', 'Zipcode', 'Market',
       'Smart Location', 'Country Code', 'Country', 'Latitude', 'Longitude',
       'Property Type', 'Room Type', 'Accommodates', 'Bathrooms', 'Bedrooms',
       'Beds', 'Bed Type', 'Amenities', 'Square Feet', 'Price', 'Weekly Price',
       'Monthly Price', 'Security Deposit', 'Cleaning Fee', 'Guests Included',
       'Extra People', 'Minimum Nights', 'Maximum Nights', 'Calendar Updated',
       'Has Availability', 'Availability 30', 'Availability 60',
       'Availability 90', 'Availability 365', 'Calendar last Scraped',
       'Number of Reviews', 'First Review', 'Last Review',
       'Review Scores Rating', 'Review Scores Accuracy',
       'Review Scores Cleanliness', 'Review Scores Checkin',
       'Review Scores Communication', 'Review Scores Location',
       'Review Scores Value', 'License', 'Jurisdiction Names',
       'Cancellation Policy', 'Calculated host listings count',
       'Reviews per Month', 'Geolocation', 'Features'],
      dtype='object')

In [ ]:
featur_choose = ['Accommodates', 'Bathrooms', 'Bedrooms', 'Beds', 'Price', 'Cleaning Fee', 'Minimum Nights', 'Maximum Nights']
abnb = df[featur_choose]
abnb.head()

   Accommodates  Bathrooms  ...  Minimum Nights  Maximum Nights
0             2        1.0  ...               6              15
1             2        0.5  ...               1            1125
2             4        0.5  ...               1            1125
3             2        1.5  ...               1            1125
4             4        1.0  ...               3            1125

[5 rows x 8 columns]

In [ ]:
abnb.isnull().sum()

Accommodates         0
Bathrooms           52
Bedrooms            19
Beds                20
Price              204
Cleaning Fee      2888
Minimum Nights       0
Maximum Nights       0
dtype: int64

In [ ]:
abnb.shape

(6771, 8)

In [ ]:
abnb=abnb.dropna()
abnb.shape

(3706, 8)

In [ ]:
abnb_clean = abnb.copy()

In [ ]:
print("\ndescribe price: \n", abnb['Price'].describe())

describe price:
 count    3706.000000
mean      154.176471
std       166.723138
min        10.000000
25%        55.000000
50%        95.000000
75%       179.000000
max       999.000000
Name: Price, dtype: float64

In [ ]:
abnb.isnull().sum()

Accommodates      0
Bathrooms         0
Bedrooms          0
Beds              0
Price             0
Cleaning Fee      0
Minimum Nights    0
Maximum Nights    0
dtype: int64

In [ ]:
abnb_clean.corr()

                Accommodates  Bathrooms  ...  Minimum Nights  Maximum Nights
Accommodates        1.000000   0.467459  ...        0.036126       -0.000588
Bathrooms           0.467459   1.000000  ...        0.038956        0.027725
Bedrooms            0.666512   0.526455  ...        0.056051        0.012770
Beds                0.785897   0.509854  ...        0.019973       -0.000330
Price               0.429940   0.329532  ...        0.044023       -0.019397
Cleaning Fee        0.394146   0.308410  ...        0.116369       -0.007718
Minimum Nights      0.036126   0.038956  ...        1.000000       -0.012192
Maximum Nights     -0.000588   0.027725  ...       -0.012192        1.000000

[8 rows x 8 columns]

In [ ]:
abnb_clean = abnb_clean.rename(columns={"Square Feet": "Square_Feet", "Cleaning Fee": "Cleaning_Fee", "Minimum Nights": "Minimum_Nights", "Maximum Nights": "Maximum_Nights"})
abnb_clean.head()

   Accommodates  Bathrooms  ...  Minimum_Nights  Maximum_Nights
0             2        1.0  ...               6              15
1             2        0.5  ...               1            1125
2             4        0.5  ...               1            1125
3             2        1.5  ...               1            1125
4             4        1.0  ...               3            1125

[5 rows x 8 columns]

In [ ]:
X = abnb_clean.drop(['Price'], axis=1)

In [ ]:
X.head()

   Accommodates  Bathrooms  ...  Minimum_Nights  Maximum_Nights
0             2        1.0  ...               6              15
1             2        0.5  ...               1            1125
2             4        0.5  ...               1            1125
3             2        1.5  ...               1            1125
4             4        1.0  ...               3            1125

[5 rows x 7 columns]

In [ ]:
y = abnb_clean['Price']
y.shape

(3706,)

In [ ]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from scipy.stats import randint, uniform

import xgboost as xgb
from xgboost import XGBRegressor

In [ ]:
# Split into train & test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train.shape, y_train.shape,  X_test.shape, y_test.shape

xgbreg2 = XGBRegressor(n_estimators=100, 
                       random_state=42, 
                       n_jobs=2, 
                       max_depth=4,  
                       learning_rate=0.1)

xgbreg2.fit(X_train, y_train)

[08:05:23] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=4, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=2, nthread=None, objective='reg:linear', random_state=42,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [ ]:
xgbreg2

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=4, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=2, nthread=None, objective='reg:linear', random_state=42,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [ ]:
from joblib import dump, load
dump(xgbreg2, 'xgbreg2.joblib', compress=True)

['xgbreg2.joblib']

In [ ]:
from google.colab import files
files.download('xgbreg2.joblib')

In [ ]:
!pip install shapely

Requirement already satisfied: shapely in /usr/local/lib/python3.6/dist-packages (1.7.1)

In [ ]:
!pip install SHAP

Collecting SHAP
  Downloading https://files.pythonhosted.org/packages/d2/17/37ee6c79cafbd9bb7423b54e55ea90beec66aa7638664d607bcc28de0bae/shap-0.36.0.tar.gz (319kB)
     |████████████████████████████████| 327kB 2.9MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from SHAP) (1.18.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from SHAP) (1.4.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from SHAP) (0.22.2.post1)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from SHAP) (1.0.5)
Requirement already satisfied: tqdm>4.25.0 in /usr/local/lib/python3.6/dist-packages (from SHAP) (4.41.1)
Collecting slicer
  Downloading https://files.pythonhosted.org/packages/46/cf/f37ac7f61214ed044b0df91252ab19376de5587926c5b572f060eb7bf257/slicer-0.0.4-py3-none-any.whl
Requirement already satisfied: numba in /usr/local/lib/python3.6/dist-packages (from SHAP) (0.48.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->SHAP) (0.16.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->SHAP) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->SHAP) (2.8.1)
Requirement already satisfied: llvmlite<0.32.0,>=0.31.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba->SHAP) (0.31.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from numba->SHAP) (50.3.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas->SHAP) (1.15.0)
Building wheels for collected packages: SHAP
  Building wheel for SHAP (setup.py) ... done
  Created wheel for SHAP: filename=shap-0.36.0-cp36-cp36m-linux_x86_64.whl size=456478 sha256=9c03731d9240498f112e90fa366512c25d85455d5bfa3f4422657bd5551a8ef0
  Stored in directory: /root/.cache/pip/wheels/fb/15/e1/8f61106790da27e0765aaa6e664550ca2c50ea339099e799f4
Successfully built SHAP
Installing collected packages: slicer, SHAP
Successfully installed SHAP-0.36.0 slicer-0.0.4

In [ ]:
X_train.head()

      Accommodates  Bathrooms  ...  Minimum_Nights  Maximum_Nights
2350             7        1.0  ...               4            1125
934              4        1.0  ...              30            1125
10               4        1.0  ...               1            1125
3756             8        4.0  ...               2             999
5102             9        3.0  ...               5            1125

[5 rows x 7 columns]

In [ ]:
import shap 

# Using the predict function
def predict1(Accommodates, Bathrooms, Bedrooms	,	Beds,	Cleaning_Fee, Minimum_Nights, Maximum_Nights):

    # Make dataframe from the inputs
    dshap = pd.DataFrame(
        data=[[Accommodates, Bathrooms, Bedrooms	,	Beds,	Cleaning_Fee, Minimum_Nights, Maximum_Nights]], 
        columns=['Accommodates',	'Bathrooms',	'Bedrooms',	'Beds',	'Cleaning_Fee', 'Minimum_Nights', 'Maximum_Nights']
    )

    # Get the model's prediction
    pred = xgbreg2.predict(dshap)[0]

    result = f'The price is ${pred:,.0f} \n'
    print(result)

    # print(type(pred))
    return pred

In [ ]:
Accommodates = 3
Bathrooms= 2
Bedrooms = 4
Beds = 3
Cleaning_Fee = 50
Minimum_Nights = 0
Maximum_Nights = 10



print("\nThe airbnb rent prediction for below features is:")
print("Accommodates =", Accommodates)
print("Bathrooms =", Bathrooms)
print("Bedrooms =", Bedrooms)
print('Beds = ', Beds)
print('Cleaning_Fee =', Cleaning_Fee)
print('Minimum Nights = ', Minimum_Nights)
print('Maximum Nights = ', Maximum_Nights)


pred = predict1(Accommodates, Bathrooms, Bedrooms	,	Beds,	Cleaning_Fee, Minimum_Nights, Maximum_Nights)

The airbnb rent prediction for below features is:
Accommodates = 3
Bathrooms = 2
Bedrooms = 4
Beds =  3
Cleaning_Fee = 50
Minimum Nights =  0
Maximum Nights =  10
price is $220

In [ ]:
import logging
import random
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from keras.models import load_model
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from keras.models import model_from_json
from tensorflow.keras.optimizers import SGD
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier
from tensorflow.keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import GridSearchCV
import sklearn

In [ ]:
!pip install fastapi

Collecting fastapi
  Downloading https://files.pythonhosted.org/packages/48/65/454fb440d48098845875b5ba8599efafee1efabb97720a584c78674e6d26/fastapi-0.61.1-py3-none-any.whl (48kB)
     |████████████████████████████████| 51kB 1.6MB/s
Collecting starlette==0.13.6
  Downloading https://files.pythonhosted.org/packages/c5/a4/c9e228d7d47044ce4c83ba002f28ff479e542455f0499198a3f77c94f564/starlette-0.13.6-py3-none-any.whl (59kB)
     |████████████████████████████████| 61kB 3.4MB/s
Collecting pydantic<2.0.0,>=1.0.0
  Downloading https://files.pythonhosted.org/packages/aa/5f/855412ad12817ae87f1c77d3af2fc384eaed3adfb8f3994816d75483fa20/pydantic-1.6.1-cp36-cp36m-manylinux2014_x86_64.whl (8.7MB)
     |████████████████████████████████| 8.7MB 8.4MB/s
Requirement already satisfied: dataclasses>=0.6; python_version < "3.7" in /usr/local/lib/python3.6/dist-packages (from pydantic<2.0.0,>=1.0.0->fastapi) (0.7)
Installing collected packages: starlette, pydantic, fastapi
Successfully installed fastapi-0.61.1 pydantic-1.6.1 starlette-0.13.6

In [ ]:
from fastapi import APIRouter
from pydantic import BaseModel, confloat

In [ ]:
log = logging.getLogger(__name__)
router = APIRouter()

In [ ]:
model = Sequential()
model.add(Dense(24, input_dim=7, kernel_initializer='normal', activation='relu'))
model.add(Dense(12, activation='relu'))
model.add(Dense(6, activation='relu'))
model.add(Dense(1, activation='linear'))
model.compile(loss='mse', optimizer='adam', metrics=['mse','mae'])
history = model.fit(X_train, y_train, epochs=100, batch_size=50,  verbose=1, validation_data=(X_test,y_test))

In [ ]:
!pip install keras-tuner

Collecting keras-tuner
  Downloading https://files.pythonhosted.org/packages/a7/f7/4b41b6832abf4c9bef71a664dc563adb25afc5812831667c6db572b1a261/keras-tuner-1.0.1.tar.gz (54kB)
     |████████████████████████████████| 61kB 2.6MB/s
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from keras-tuner) (0.16.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from keras-tuner) (1.18.5)
Requirement already satisfied: tabulate in /usr/local/lib/python3.6/dist-packages (from keras-tuner) (0.8.7)
Collecting terminaltables
  Downloading https://files.pythonhosted.org/packages/9b/c4/4a21174f32f8a7e1104798c445dacdc1d4df86f2f26722767034e4de4bff/terminaltables-3.1.0.tar.gz
Collecting colorama
  Downloading https://files.pythonhosted.org/packages/c9/dc/45cdef1b4d119eb96316b3117e6d5708a08029992b2fee2c143c7a0a5cc5/colorama-0.4.3-py2.py3-none-any.whl
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from keras-tuner) (4.41.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from keras-tuner) (2.23.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from keras-tuner) (1.4.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from keras-tuner) (0.22.2.post1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->keras-tuner) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->keras-tuner) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->keras-tuner) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->keras-tuner) (3.0.4)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->keras-tuner) (0.16.0)
Building wheels for collected packages: keras-tuner, terminaltables
  Building wheel for keras-tuner (setup.py) ... done
  Created wheel for keras-tuner: filename=keras_tuner-1.0.1-cp36-none-any.whl size=73200 sha256=00424fcc7913d36859a1044c13e3da65b9e773387c8e009c5c1e49bed2bb849f
  Stored in directory: /root/.cache/pip/wheels/b9/cc/62/52716b70dd90f3db12519233c3a93a5360bc672da1a10ded43
  Building wheel for terminaltables (setup.py) ... done
  Created wheel for terminaltables: filename=terminaltables-3.1.0-cp36-none-any.whl size=15356 sha256=c4626c5c0e7202efd34e4e83c58dd98cf68cdbdd18dc4836eff2ee8fd21e3338
  Stored in directory: /root/.cache/pip/wheels/30/6b/50/6c75775b681fb36cdfac7f19799888ef9d8813aff9e379663e
Successfully built keras-tuner terminaltables
Installing collected packages: terminaltables, colorama, keras-tuner
Successfully installed colorama-0.4.3 keras-tuner-1.0.1 terminaltables-3.1.0

In [ ]:
# #@router.post('/predict')
# def predict_price(airbnb):
#     """Predict airbnb from price and bedrooms"""
#     price = classifier.predict(airbnb.to_df())
#     return price[0]

In [ ]:
# async def predict_species(airbnb: AirBnB):
#     """Random baseline predictions for classification problem"""
#     X_new = X
#     log.info(X_new)
#     model = tf.keras.models.load_model("ds_app/keras_model/saved_model-3.pb")
#     Xnew = np.array([
#         X_new['userId'].iloc[0], X_new['name'].iloc[0], X_new['room_type'].iloc[0], 
#         X_new['location'].iloc[0], X_new['price'].iloc[0], X_new['accommodates'].iloc[0],
#         X_new['bathrooms'].iloc[0], X_new['bedrooms'].iloc[0], X_new['beds'].iloc[0],
#         X_new['guests_included'].iloc[0], X_new['minimum_nights'].iloc[0], 
#         X_new['maximum_nights']]
#     )
#     Xnew = scaler_x.transform(Xnew)
#     y_pred = model.predict(Xnew)
#     y_pred = scaler_y.inverse_transform(y_pred)
#     y_pred = float(y_pred[0][0])
#     return {
#         'prediction':y_pred
#     }

In [ ]:
abnb_clean.shape

(3706, 8)

In [ ]:
cols = abnb_clean.columns.tolist()
cols

['Accommodates',
 'Bathrooms',
 'Bedrooms',
 'Beds',
 'Price',
 'Cleaning_Fee',
 'Minimum_Nights',
 'Maximum_Nights']

In [ ]:
abnb_clean1 = abnb_clean[['Accommodates',
 'Bathrooms',
 'Bedrooms',
 'Beds',
 'Cleaning_Fee',
 'Minimum_Nights',
 'Maximum_Nights', 'Price']]

In [ ]:
abnb_clean1.head()

   Accommodates  Bathrooms  Bedrooms  ...  Minimum_Nights  Maximum_Nights  Price
0             2        1.0       1.0  ...               6              15   90.0
1             2        0.5       1.0  ...               1            1125   50.0
2             4        0.5       1.0  ...               1            1125   25.0
3             2        1.5       1.0  ...               1            1125  100.0
4             4        1.0       1.0  ...               3            1125  130.0

[5 rows x 8 columns]

In [ ]:
dataset = abnb_clean1.values

In [ ]:
X1 = dataset[:,0:6]
y1 = dataset[:,6]
#y1 = np.reshape(y, (-1,1))
y1 = np.reshape(y1, (-1,1))
scaler_x1 = MinMaxScaler()
scaler_y1 = MinMaxScaler()

In [ ]:
scaler_x1.fit(X1)
x1scale=scaler_x1.transform(X1)

In [ ]:
scaler_y1.fit(y1)
y1scale=scaler_y1.transform(y1)

In [ ]:
X1 = StandardScaler().fit_transform(X1)
y1 = StandardScaler().fit_transform(y1.reshape(len(y1),1))[:,0]
X1_train, X1_test, y1_train, y1_test = train_test_split(x1scale, y1scale)

In [ ]:
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LogisticRegressionCV
classifier = make_pipeline(
    StandardScaler(),
    LogisticRegressionCV()
)

In [ ]:
classifier

Pipeline(memory=None,
         steps=[('standardscaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('logisticregressioncv',
                 LogisticRegressionCV(Cs=10, class_weight=None, cv=None,
                                      dual=False, fit_intercept=True,
                                      intercept_scaling=1.0, l1_ratios=None,
                                      max_iter=100, multi_class='auto',
                                      n_jobs=None, penalty='l2',
                                      random_state=None, refit=True,
                                      scoring=None, solver='lbfgs', tol=0.0001,
                                      verbose=0))],
         verbose=False)

In [ ]:
from joblib import dump, load
dump(classifier, 'classifier.joblib', compress=True)
#classifier = joblib.load('app/api/classifier.joblib')

['classifier.joblib']

In [ ]:
del classifier

In [ ]:
classifier = load('classifier.joblib')

In [ ]:
from google.colab import files
files.download('classifier.joblib')